AZURE_APP_CONFIG_ENDPOINT = "https://<app-config-resource-name>.azconfig.io"
GENAI_FRAMEWORK="agent-framework"
CHAT_DEPLOYMENT_NAME="completions"
EMBEDDING_DEPLOYMENT_NAME="embeddings"
OPENAI_API_VERSION="2024-10-21"